<div ng-cloak style="width: 100%;">
	<div class="utility-container">
		<div class="utility-menu">
	        <ul class="menu-buttons">
	            <li>
	                <a href="" id="new-message" ng-Click="newProject()">
	                    <i class="icon pe-7s-plus"></i>
	                    <span class="text">New {{gs.currWorkspace.Terminology.projectAlias}}</span>
	                </a>
	            </li> 
	            <li>
	            	<md-menu md-offset="0 15">
			          <md-button aria-label="Open menu" class="md-icon-button m-0 p-0 p-t-5" ng-click="$mdOpenMenu($event)">
			            <i class="icon pe-7s-repeat"></i>
			          </md-button>
			          
			          <md-menu-content width="3">
			            <md-menu-item>
				          <md-button class="menu-subheader" disabled="disabled">
				            Order by:
				          </md-button>
				        </md-menu-item>
			            <md-menu-item ng-repeat="orderItem in ['First name', 'Last name']">
			              <md-button ng-click="updateOrderBy(orderItem)">{{orderItem}}</md-button>
			            </md-menu-item>
			          </md-menu-content>
			          
			        </md-menu>
	            </li>
	        </ul>
	    </div>
	</div>
	
	<div class="page-container-vert">
		
		<div class="p-b-15 p-t-10" ng-show="cardView">
            <input type="text" class="form-control" placeholder="{{type}} Search"
               	ng-model="search.$">
		</div>
		
		<div class="row" ng-show="cardView">			
			<div class="card-animate" ng-repeat="project in projects | filter:search:false | orderBy: 'title'" 
				data-ng-include="'views/partials/projectCard.html'"></div>
		</div>
		
	    <div class="panel panel-white" ng-hide="cardView">
            <div class="panel-body" style="overflow-x: auto">
                <div class="form-group">
                   <input type="text" class="form-control" placeholder="{{type}} Search"
                    	ng-model="search.title">
                </div>
	            
            	<div class="flip-scroll">
			    <table class="table table-hover f-14 flip-content">
		            <thead class="flip-content">
		                <tr>
			                <th>&nbsp;</th>
		                    <th>Title</th>
		                    <th>Type</th>
		                    <th class="avatar_lg_placeholder">Progress</th>
		                    <th>Due</th>
		                    <th>Revenue</th>
		                    <th class="avatar_lg_placeholder">Owner</th>
		                    <th>Tags</th>
		                    <th class="table-notes" hide-gt-sm>Notes</th>
		                </tr>
		            </thead>
		            <tbody>
		                <tr ng-repeat="project in projects | filter:search:false | orderBy:orderByFld" 
		                	ng-class="{'agile-list-highlight' : project.hasHighlightTag }"
			                ng-animate="'animate'" >
			                <td><md-checkbox class="m-b-0" aria-label="Done" md-no-ink ng-model="project.isDone" ></md-checkbox></td>
		                   	<td class="b-500" ng-click="openDetails(project)">{{project.title}}</td>
		                   	<td ng-click="openDetails(project)">{{project.type.title}}</td>
		                    <td class="avatar_lg_placeholder" ng-click="openDetails(project)">
			                    <div easypiechart options="options" percent="project.perComp" style="text-align: center">
			                    	<span class="percent text-default" style="line-height: 80px; text-align: center; font-weight: 400">{{project.perComp | number:0 }}</span>
		                    	</div>
		                    </td>
		                    <td ng-click="openDetails(project)">{{project.end | amCalendar:null:gs.pref.calShortFormats }}</td>
		                    <td ng-click="openDetails(project)">{{project.revenue | currency:"$":0 }}</td>
		                     <td class="avatar_lg_placeholder"><a href="" ng-click="openPersonDetails(project.owner)">
			                    <avatar size="sm" img="project.owner.avatar" state="project.owner.state" name="project.owner.name"></avatar></a></td>
		                    <td ng-click="openDetails(project)"><ctag ng-repeat="tag in project.tags"></ctag></td>
		                    <td class="table-notes w-250" hide-gt-sm><p>{{project.notes}}</p></td>
		                </tr>
		            </tbody>
		        </table>
		        </div>
	        </div>
	    </div>
    </div>
</div>

<script>

</script>