
<div  ng-cloak style="width: 100%;">
	<div class="utility-container">
		<div class="utility-menu">
	        <ul class="menu-buttons">
	            <li>
	                <a href="" id="new-message" ng-Click="newEntry()">
	                    <i class="icon pe-7s-plus"></i>
	                    <span class="text">New Reminder</span>
	                </a>
	            </li> 
	        </ul>
	    </div>
	</div>
	
	<div class="page-container-vert">
					
	    <div class="panel panel-white" >
            <div class="panel-body">
            	<div id="full-calendar"></div>
            </div>
	    </div>
    </div>
</div>

<script>

</script>