
<div ng-cloak style="height: 100%">
	<div class="utility-container">
		<div class="utility-menu">
	        <ul class="menu-buttons">
	            <li>
	                <a href="" id="new-message" ng-Click="newTask()">
	                    <i class="icon pe-7s-plus"></i>
	                    <span class="text">New {{gs.currWorkspace.Terminology.taskAlias}}</span>
	                </a>
	            </li> 
	            <!--li>
	            	<md-menu md-offset="0 15">
			          <md-button aria-label="Open menu" class="md-icon-button m-0 p-0 p-t-5" ng-click="$mdOpenMenu($event)">
			            <i class="icon pe-7s-more"></i>
			          </md-button>
			          
			          <md-menu-content width="3">
			          	<md-menu-item>
				          <md-button class="menu-subheader" disabled="disabled">
				            Group by:
				          </md-button>
				        </md-menu-item>
			            <md-menu-item ng-repeat="item in ['Status', 'Schedule', 'Priority', projectLabel]">
			              <md-button aria-label="update view" ng-click="updateViewBy(item)">{{item}}</md-button>
			            </md-menu-item>
			            <md-menu-divider></md-menu-divider>
			            <md-menu-item>
				          <md-button class="menu-subheader" disabled="disabled">
				            Order by:
				          </md-button>
				        </md-menu-item>
			            <md-menu-item ng-repeat="orderItem in ['Schedule', 'Title', 'Priority']">
			              <md-button ng-click="updateOrderBy(orderItem)">{{orderItem}}</md-button>
			            </md-menu-item>
			          </md-menu-content>
			          
			        </md-menu>
	            </li-->
	            <li>
	            		<md-menu md-offset="0 15">
											<md-button aria-label="Open more menu" class="md-icon-button m-0 p-0 p-t-5" 
													ng-click="$mdOpenMenu($event)">
			            				<i class="icon pe-7s-more"></i>
			          			</md-button>
											
											<md-menu-content>
			
													<md-menu-item>
																	<md-menu>
																			<md-menu-item>
																			<md-button>Group by</md-button></md-menu-item>
																			<md-menu-content>
																					<md-menu-item ng-repeat="item1 in ['Status', 'Schedule', 'Priority', projectLabel]">
																							<md-button aria-label="update view" ng-click="updateViewBy(item1)">{{item1}}</md-button>
																					</md-menu-item>
																			</md-menu-content>
																	</md-menu>
															
													</md-menu-item>

													<md-divider></md-divider>

													<md-menu-item>
															<md-button ng-click="archiveTasks()">
																	<!--md-icon class="pe-7s-box1 f-25"--></md-icon>Archive completed
															</md-button>
													</md-menu-item>

													<md-menu-item ng-hide="showArchived">
														<md-button ng-click="toggleArchived()">
															Show archived
														</md-button>
													</md-menu-item>
													
													<md-menu-item ng-show="showArchived">
														<md-button ng-click="toggleArchived()">
															Hide archived
														</md-button>
													</md-menu-item>

			          			</md-menu-content>
			        		</md-menu>
	            </li>

	        </ul>
	    </div>
	</div>
	
    <div class="page-container">
	    
	    <div class="w-200" style="overflow-y: auto !important;">
            <div class="m-15 p-5">
	            <!--h4>{{gs.currWorkspace.Terminology.projectAliasPlural}}</h4>
	            <md-divider class="m-b-10"></md-divider>
	            			
				<div ng-repeat="project in projects | filter:{active: true} | orderBy:'title'" ng-class="{'agile-list-highlight-2' : project.isSelected }"
                	 ng-click="toggleProjectSelected(project)" class="m-b-5 m-t-5 p-5 select-list-item">
                        <span class="p-l-10 f-15">{{project.label}}</span>
                </div>
                
                <div class="m-t-30"-->

				    <h4>Delegates</h4>
				    <md-divider class="m-b-10"></md-divider>
				    
	                <div ng-repeat="person in delegates | orderBy:'name'" ng-class="{'agile-list-highlight-2' : person.isSelected }"
	                	 ng-click="toggleSelected(person)" class="m-b-5 m-t-5 p-5 select-list-item">
	                        <avatar size="xs" img="person.avatar" state="person.state" name="person.name" type="person.avatarType"></avatar>
	                        <span class="p-l-10 f-15">{{person.first}}</span>
	                </div>
			    <!--/div--> 
	        </div>
	    </div>
	    
	    <div class="grp-container" style="overflow-y: auto !important;">
            <div class="widget m-0" style="height: 100%;">
                <div class="p-r-20 p-l-20 p-t-5 p-b-20 align-center ">
                    <h3>{{gs.currWorkspace.Terminology.taskAlias}} Summary</h3>
                    <div class="text-muted f-15">{{today | amDateFormat:'ddd, MMMM DD, YYYY'}}</div>
                </div>
                <div class="align-center m-t-20">
	                <canvas class="chart chart-doughnut" chart-data="sumData" chart-labels="sumLabel"
	                		chart-colors="gs.pref.colors"></canvas>
	                
                </div>
                <div class="chart-legend-container">
                    <div class="row">
                    	<div ng-repeat="legend in sumLegend">
                        	<div class="chart-legend" ng-style="{'border-color': legend.color}">
                            	<div><span class="chart-legend-value">{{legend.percent | number:0 }}%</span> ({{legend.data}})</div>
                            	<div>{{legend.label}}</div>
                        	</div>
                        </div>
                    </div>
                </div>
	        </div>
	    </div>
	    
	    <div class="grp-container" ng-repeat="group in grouping">
			<div class="grp-hdr">{{group.label}}</div>
			<div class="task-container">
				<ul id="{{getFilterId(group)}}" ui-sortable="sortableOptions" class="sortable-list connectList agile-list"
					ng-class="{'agile-list-disabled-dd' : disabledDD}" ng-model="taskList">
                    <li class="ui-sortable" ng-repeat="task in taskList | filter:getFilter(group) | orderBy:determineOrder" ng-Click="openTaskDetails(task)" ng-class="{'agile-list-highlight' : task.hasHighlightTag, 'agile-list-highlight-2' : task.hasSelectedOwner }"
											id="{{task.$id}}">
											<md-checkbox aria-label="Select" md-no-ink></md-checkbox>

                        <div>
                           	<div class="list-title-highlight" ng-show="task.delegateId != null">Delegate: {{task.delegateName}}</div>
							<span class="pull-right badge f-10 m-l-5" ng-class="{'badge-danger' : task.priority === 'H', 'badge-warning' : task.priority === 'M', 'badge-success' : task.priority === 'L', 'task-normal' : task.priority === 'N'}">{{task.priority}}
							</span>
                        </div>
                        <div class="list-title f-14" ng-class="{'task-done' : task.archived }">{{task.title}}</div>
                        <div ng-class="{'list-title-2' : true, 'text-danger' : task.state == 'Overdue'}">
                                {{ task.due | amCalendar:null:gs.pref.calFormats}}
                        </div>
                        <div class="list-title-3" ng-show="task.projectName != null">
                                {{gs.currWorkspace.Terminology.projectAlias}}: {{task.projectName}}
						</div>
						<div class="list-title-3" ng-show="task.hasChecklist">
	                        Checklist: {{getTotalChecklistDone(task.checklist)}} out of {{task.checklist.length}} done
				    	</div>
						<div>
							<ctag ng-repeat="tag in task.tags"></ctag>
						</div>
                    </li>
                </ul>
			</div>
		</div>
		
		&nbsp;
		
    </div>
</div>

<script>

</script>