
<div id="chatbar" class="chatbar">
    <div class="chatbar-contacts sidebar-content">
        <div class="sidebar-header">
            <div class="sidebar-header">
		        <div class="header-title">
		            <span>Clients</span>
		
		        </div>
		
		        <div class="header-description">
					<!--div class="contacts-search">
                		<input type="text" class="searchinput" placeholder="Search Contacts" /-->
                		<i class="searchicon pe-7s-search"></i>
            		<!--/div-->
		        </div>
		
		        <div class="header-close">
		
		            <i class="pe-7s-angle-right-circle" ng-click="nav.hideSideForm()"></i>
		
		        </div>
		
		    </div>
		
        </div>
        <div class="sidebar-body">
            <div>
            <ul class="contacts-list">
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/allison.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Lola Terrell</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            6:24 PM
                        </div>
                        <div class="contact-last-message">Let's see each other asap.</div>
                    </div>
                </li>
                <li class="contact away">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/jim.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Dee Magdalena</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            12:00 PM
                        </div>
                        <div class="contact-last-message">Sent you connect request.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/claudio.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Richard Zane</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            01 Sep
                        </div>
                        <div class="contact-last-message">Have a good day. See ya!</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/jared.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Midge Christal</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            10 Aug
                        </div>
                        <div class="contact-last-message">See the files. Tnx!</div>
                    </div>
                </li>
                <li class="contact offline">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/florian.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Bazza Deemer</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            04 Aug
                        </div>
                        <div class="contact-last-message">Do not forget about tomorrow.</div>
                    </div>
                </li>
                <li class="contact away">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/anna.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Quinten Charnette</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            04 Aug
                        </div>
                        <div class="contact-last-message">See you next week.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/adelle.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Madeline Upton</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            02 Aug
                        </div>
                        <div class="contact-last-message">Sent you files.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/cleb.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Ainsley Jeanie</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            02 Aug
                        </div>
                        <div class="contact-last-message">Sent you files.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/jsa.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Mason Evelyn</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            8:28 PM
                        </div>
                        <div class="contact-last-message">Are we still going for coffee?</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/adelle.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Madeline Upton</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            02 Aug
                        </div>
                        <div class="contact-last-message">Sent you files.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/cleb.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Ainsley Jeanie</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            02 Aug
                        </div>
                        <div class="contact-last-message">Sent you files.</div>
                    </div>
                </li>
                <li class="contact online">
                    <div class="contact-avatar">
                        <img src="assets/img/avatars/jsa.jpg" />
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Mason Evelyn</div>
                        <div class="contact-last-chat-time">
                            <i class="pe-7s-clock"></i>
                            8:28 PM
                        </div>
                        <div class="contact-last-message">Are we still going for coffee?</div>
                    </div>
                </li>
            </ul>
        </div>
    </div></div>
</div>

<script src="assets/js/pages/partials/chat.js"></script>
