<div id="taskbar" class="sidebar-content" ng-controller="JournalEntryEditController" ng-cloak>
    <div class="sidebar-header">
        <div class="header-title">
           <span>{{gs.currWorkspace.Terminology.memoAlias}} Details</span>
        </div>
        
        <div class="header-description v-a-middle">
            <a href="" style="color: #fff" ng-click="cancelEdit()">
            	Cancel
            </a>
            <a href="" class="pull-right" style="color: #fff" ng-click="saveEntry(entryForm.$valid)">
            	Save
            </a>
        </div>
    </div>
    
    <div class="sidebar-body" resize height-offset="125" style="width: 100%">	    
        <div class="p-10" style="background-color: #f1f3f2">
	        <form name="entryForm">
		        <div class="panel panel-default">
		            <div class="panel-body">
		            	<md-input-container class="md-block p-b-0">
				            <label>Title</label>
				            <textarea id="entryTitle" name="entryTitle" class="primary-input" ng-model="selectedEntry.title" 
				            	rows="3" md-maxlength="140" md-detect-hidden="true" autofocus required></textarea>
				            	
				            <div ng-messages="entryForm.entryTitle.$error" role="alert" 
								ng-if="showHints" multiple>
				            	<div ng-message="required" class="my-message">You must supply a title.</div>
								<div ng-message="md-maxlength" class="my-message">
									Please do not exceed 140 characters.
				            	</div>
				            </div>
				        </md-input-container>
				        
				        <md-input-container class="md-block">
			          		<label>Category</label>
					  		<md-select ng-model="selectedEntry.type">
				              <md-option ng-repeat="type in gs.pref.journalTypes | orderBy: 'type' " ng-value="type" >
				                {{type}}
				              </md-option>
				            </md-select>
					  	</md-input-container>
						
		            </div>
		        </div>
			  	
			  	<summernote ng-model="selectedEntry.content" config="options"></summernote>
			  	
			  	<div class="panel panel-tags">
				  	<div class="panel-heading">
					    <h3 class="panel-title">Attachments</h3>
					    <div class="panel-tools">
					        <panel-collapse></panel-collapse>
					    </div>
					</div>
		            <div class="panel-body">
			            <div class="journalEntry-edit-img-cont select-list-item-2" layout="row" ng-repeat="pic in selectedEntry.attachments | filter:'image/'">
						    <a href="{{pic.url}}" target="_blank" flex="100">
					        	<img ng-src="{{pic.url}}" src="assets/img/placeholder.jpg" alt="{{pic.title}}"
					        		class="journalEntry-img">
									<md-tooltip>{{pic.title}}</md-tooltip>
					        	</img>
				        	</a>
				        	<i class="icon pe-7s-close md-secondary text-muted f-25"
							  			ng-click="removeAttachment(pic)" aria-label="Delete"></i>
				        </div>
				        
				        <div class="m-t-0">
					        <md-list flex>
							  <md-list-item class="" aria-label="{{file.title}}"
							  		ng-repeat="file in selectedEntry.attachments  | filter:'!image/'" ng-click="openAttachment(file.url)">
							  		<fileicon file="file" showtitle="true"></fileicon>
							  		<i class="icon pe-7s-close md-secondary text-muted f-25"
							  			ng-click="removeAttachment(file)" aria-label="Delete"></i>
							  		<md-divider ng-if="!$last"></md-divider>
							  </md-list-item>
				              
							</md-list>
				        </div>
		            
			            <div>
							<div id="progressBar" ng-show="showProgress">
								<md-progress-linear md-mode="indeterminate" ng-disabled="disabled"></md-progress-linear>
							</div>
							<div class="m-t-10 align-right">
								<label for="file-upload-btn" class="btn btn-inverse">
								    Add attachment
								</label>
								<file-upload loc="F" on-change="onfileUploadChange"></file-upload>
							</div>
						</div>
		            
		            </div>
				</div>
				  
				<div class="panel panel-default">
		            <div class="panel-body">
		            	
						<div layout="row p-b-20">
							<md-input-container class="md-block p-b-0" flex="100">
								<label>Start</label>
								<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown" href="">
									<input id="duedatetime" type="text" ng-model="selectedEntry.start" ng-disabled="false"
										class="md-input " datetime="EEE, MMMM d, yyyy, h:mma" ng-change="handleStartChanged()"></input>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<datetimepicker data-ng-model="selectedEntry.start"
													data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', minuteStep: 5 }"></datetimepicker>
								</ul>
							</md-input-container>
							<i class="icon pe-7s-close text-muted f-25 m-t-20" ng-show="selectedEntry.start != null"
										ng-click="clearStartDate()" aria-label="Clear"></i>
						</div>

						<div layout="row p-b-20">
							<md-input-container class="md-block p-b-0" flex="100">
								<label>End</label>
								<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown" href="">
									<input id="enddatetime" type="text" ng-model="selectedEntry.end" ng-disabled="false"
										class="md-input" datetime="EEE, MMMM d, yyyy, h:mma" ng-change="handleEndChanged()"></input>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<datetimepicker data-ng-model="selectedEntry.end"
													data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', minuteStep: 5 }"></datetimepicker>
								</ul> 
							</md-input-container>
							<i class="icon pe-7s-close text-muted f-25 m-t-20" ng-show="selectedEntry.end != null"
										ng-click="clearEndDate()" aria-label="Clear"></i>
						</div>
					  	
					  	<!--md-input-container class="md-block p-b-20">
				            <label>Duration (mins)</label>
				            <input ng-model="selectedEntry.duration" type="number" step="5.00">
				        </md-input-container-->
						  
						<div layout="row p-b-20">
							<md-autocomplete flex
								md-selected-item="selectedEntry.project"
								md-search-text="projectSearchText"
								md-items="proj in projects | filter:{title:projectSearchText} | orderBy: 'title' "
								md-item-text="proj.title"
								md-autoselect="true"
								md-input-name="projectautocompleteField"
								md-require-match
								md-floating-label="{{gs.currWorkspace.Terminology.projectAlias}}">
								<md-item-template>
									<span md-highlight-text="projectSearchText" md-highlight-flags="^i">{{proj.title}}</span>
								</md-item-template>
								<md-not-found>
									No project matching "{{projectSearchText}}" were found.
								</md-not-found>
							</md-autocomplete>
						</div>

						<div layout="row p-b-20">
							<md-autocomplete flex
								md-selected-item="selectedEntry.target"
								md-search-text="ownerSearchText"
								md-items="owner in owners | filter:{name:ownerSearchText} | orderBy: 'name' "
								md-item-text="owner.name"
								md-autoselect="true"
								md-input-name="ownerautocompleteField"
								md-require-match
								md-floating-label="Only for">
								<md-item-template>
									<span md-highlight-text="ownerSearchText" md-highlight-flags="^i">{{owner.name}}</span>
								</md-item-template>
								<md-not-found>
									No owners matching "{{ownerSearchText}}" were found.
								</md-not-found>
							</md-autocomplete>
							<div class="p-l-15 p-t-15" ng-hide="selectedEntry.target == null">
								<avatar size="sm" img="selectedEntry.target.avatar" state="selectedEntry.target.state" 
									name="selectedEntry.target.name" type="selectedEntry.target.avatarType"></avatar> 
							</div>
							<i class="icon pe-7s-close text-muted f-25 m-t-20" ng-hide="selectedEntry.target == null"
								   ng-click="clearTarget()" aria-label="Clear"></i>
						</div>

		            </div>
		        </div>
			  	
			  	<div class="panel panel-tags collapsed">
					<div class="panel-heading">
		                <h3 class="panel-title">Related People</h3>
		                <div class="panel-tools">
		                    <panel-collapse></panel-collapse>
		                </div>
		            </div>
					
		            <div class="panel-body" style="display: none;">						
						<md-contact-chips ng-model="selectedEntry.people" readonly="false"
							md-contacts="querySearch($query)" filter-selected="true"
					    	placeholder="+ Person" 
					    	secondary-placeholder="+ Person"
					    	md-require-match="true" md-autoselect="true"
					    	md-contact-name="name">					    	
						</md-contact-chips>					 
		            </div>
				</div>

				<tageditor title="Tags" model="selectedEntry" filter="{forJournal: true}"></tageditor>
			  
			  	<div class="text-muted f-10 m-t-15" ng-show="isEdit">
				  	<div class="align-center">Created by {{selectedEntry.createdName}} on {{selectedEntry.created | amCalendar:null:gs.pref.calFormats}}</div>
				  	<div class="align-center">Last update by {{selectedEntry.updatedName}} on {{selectedEntry.updated | amCalendar:null:gs.pref.calFormats}}</div>
			  	</div>
			  
			  
			  	<div class="m-t-15" ng-show="isEdit">
				  	<a href="" ng-Click="archiveEntry()" class="btn btn-danger btn-block f-17"
					  	ng-hide="selectedEntry.archived">
					  Archive {{gs.currWorkspace.Terminology.memoAlias}}
				  	</a>
				  	<a href="" ng-Click="restoreEntry()" class="btn btn-primary btn-block f-17"
					  	ng-show="selectedEntry.archived">
					  Restore {{gs.currWorkspace.Terminology.memoAlias}}
				  	</a>
			  	</div>
		    </form>
        </div>
    </div>
</div>

<script>

</script>
