<div id="taskbar" class="sidebar-content" ng-controller="ProjectDetailsController" ng-cloak>
    <div class="sidebar-header">
        <div class="header-title">
           <span style="font-weight: 300 !important">{{gs.currWorkspace.Terminology.projectAlias}} details</span>
        </div>
        
        <div class="header-description v-a-middle">
            <a href="" style="color: #fff" ng-click="cancelEdit()">
            	Close
            </a>
            <a href="" class="pull-right" style="color: #fff" ng-click="editProject()">
            	Edit
            </a>
        </div>
    </div>
    
    <div class="sidebar-body" resize height-offset="125" style="width: 100%">	    
        <div>
	        <div>
		        <div class="widget-container profile">
		            <div class="widget">
		                <div class="row p-15">
			                
		                    <div class="col w-150 h-150 align-center">
		                        <div easypiechart options="options" percent="selectedProject.perComp" style="text-align: center">
			                    	<span class="text-default f-45" 
			                    		style="position: absolute; line-height: 150px; text-align: center; width: 150px">{{selectedProject.perComp | number:0 }}%</span>
		                    	</div>
		                    </div>
		                    <div class="col p-5 p-l-20">
			                    
		                        <div class="f-25 v-a-middle" style="max-width: 255px; overflow: hidden">
			                        {{selectedProject.title}}
		                        </div>
		                        <div class="f-13 m-t-5 b-400">
		                            <span>{{selectedProject.typeName | uppercase}}</span>
		                        </div>
		                        
		                        <div class="f-13 m-t-5">
		                            <span class="f-12 label label-done" ng-show="selectedProject.isDone">Completed</span>
		                        </div>
		                        
		                        <div class="f-13 m-t-5">
		                            <span>{{selectedProject.start | amCalendar:null:gs.pref.calShortFormats}}
		                             <span ng-show="selectedProject.end != null"> - </span> 
		                             {{selectedProject.end | amCalendar:null:gs.pref.calShortFormats}}</span>
		                        </div>
		                         <div class="f-13 m-t-5">
		                            Revenue: {{selectedProject.revenue | currency:"$":0 }}
		                        </div>
		                        <div class="f-13 m-t-5">
		                            <span ng-click="openPersonDetails(selectedProject.ownerId)">{{selectedProject.ownerName}}</span>
		                        </div>
		                        <div class="m-t-5"><ctag ng-repeat="tag in selectedProject.tags"></ctag></div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
	        </div>
	        
	        
	        <div class="p-15 m-15 f-14 border-top-1 border-bottom-1 border-left-0 border-right-0 border-muted"
                ng-hide="selectedProject.notes == null || selectedProject.notes == ''"
	                 ng-bind-html="formatContent(selectedProject.notes)">
            </div>
		    
		    <md-tabs class="m-t-10" md-dynamic-height md-border-bottom>
		      
		    <md-tab label="Timeline">
		        <md-content style="height: 100%">
		        	<section ng-repeat="group in activityGrouping">
			        	<md-subheader class="md-primary subheader-top">{{group}}</md-subheader>
			        	<md-divider></md-divider>
		
				        <div class="p-10 p-l-15 p-r-15">
				            <ul class="timeline timeline-condensed">
				                <li ng-repeat="act in activity | filter: {groupingLabel: group, projectId: selectedProject.$id} | orderBy:'updated':true"
				                	data-ng-include="'views/partials/timelineEntry.html'">
				                </li>
				            </ul>
				        </div>
		        	</section>
		        </md-content>
		        
		    </md-tab>
		    
		    <md-tab label="{{gs.currWorkspace.Terminology.taskAliasPlural}}">
		        <md-content class="p-0">
		        	<div class="p-10 f-14 v-a-middle">
			        	<a href="" id="new-message" class="text-primary" ng-Click="openTaskDetails()">
				        	<i class="icon pe-7f-plus f-20"></i>
			            </a>
			            
			            <a class="pull-right p-l-10 text-primary" ui-sref="projects.taskboard({id: selectedProject.$id})" ng-click="cancelEdit()">
			            	<i class="pe-7f-keypad f-20"></i>
			            </a>
		        	</div>
		        					
					<md-content>
						<md-divider></md-divider>
			            <section ng-repeat="taskGroup in taskGrouping">
				        	<md-subheader class="md-primary">{{taskGroup.label}}</md-subheader>
				        	<md-divider></md-divider>
				            <md-list flex>
							  <md-list-item class="md-3-line md-long-text" ng-repeat="task in tasks | filter:getFilter(taskGroup) | orderBy:'due'" ng-click="openTaskDetails(task)">
							    <md-checkbox aria-label="Done" md-no-ink ng-model="task.isDone" ng-change="updateIsDone(task)"></md-checkbox>
							    <div class="md-list-item-text">
								  <div class="list-title-highlight" ng-show="task.delegateId != null">Delegate: {{task.delegateName}}</div>
							      <div ng-class="{'list-title' : true, 'task-done' : task.isDone }">{{task.title}}</div>
							      <div ng-class="{'list-title-2' : true, 'text-danger' : task.state == 'Overdue'}">{{ task.due | amCalendar:null:gs.pref.calFormats}}</div>
							      <div class="list-title-3" ng-hide="task.ownerName==null">{{task.ownerName}}</div>
							    </div>
							    <div class="md-secondary p-10">
			               			<span ng-class="{'badge' : true, 'badge-danger' : task.priority === 'H', 'badge-warning' : task.priority === 'M', 'badge-success' : task.priority === 'L', 'task-normal' : task.priority === 'N'}">{{task.priority}}</span>
							    </div>		    
							    <md-divider></md-divider>
							  </md-list-item>
				              
							</md-list>
						</section>
				    </md-content>
					
		        </md-content>
		    </md-tab>
		    
		    
		    
		    <md-tab label="{{gs.currWorkspace.Terminology.clientAliasPlural}}">
		        <md-content class="p-0">
		        	<md-list flex>
					  <md-list-item class="md-3-line" ng-repeat="person in selectedProject.people"  ng-click="openPersonDetails(person.id)">
					    <avatar size="md" img="person.avatar" state="person.state" name="person.name" type="person.avatarType"></avatar>
					    <div class="md-list-item-text p-l-10">
					      <div class="list-title">{{person.name}}</div>
					      <div class="list-title-3">{{person.title}}</div>
					      <div class="list-title-2"><a href="mailto:{{person.primaryEmail}}">{{person.primaryEmail}}</a></div>
					    </div>	    
					    <md-divider ></md-divider>
					  </md-list-item>
		              
					</md-list>
		        </md-content>
		    </md-tab>
		      
		    <md-tab label="{{gs.currWorkspace.Terminology.memoAliasPlural}}">
		        <md-content>
					<md-list flex>
						<md-list-item class="md-2-line" ng-repeat="entry in entries | filter: {$:selectedProject.$id} | orderBy:'updated':true" 
							ng-click="openEntryDetails(entry)">
							
							<i class="pe-fw f-25 p-5 m-r-5"
							  ng-class="{'pe-7s-light' : entry.type == 'Idea', 'pe-7s-call' : entry.type == 'Phone call', 
									  'pe-7s-date' : entry.type == 'Meeting', 'pe-7s-note2' : entry.type == 'Memo',
									  'pe-7s-copy-file' : entry.type == 'Document', 'pe-7s-photo' : entry.type == 'Image',
									  'pe-7s-coffee' : entry.type == 'Food'}"><md-tooltip>{{entry.type}}</md-tooltip></i>
							
						  <div class="md-list-item-text">
							<div class="list-title">{{ entry.title }}</div>
							<div class="list-title-2">{{entry.updated | amCalendar:null:gs.pref.calFormats}}</div>
						  </div>	    
						  <md-divider></md-divider>
						</md-list-item>
					  </md-list>	
				  </md-content>
		    </md-tab>
		      
		    </md-tabs>
        </div>
        
        <div class="text-muted f-10 m-t-10">
            <div class="align-center">Created by {{selectedProject.createdName}} on {{selectedProject.created | amCalendar:null:gs.pref.calFormats}}</div>
		  	<div class="align-center">Last update by {{selectedProject.updatedName}} on {{selectedProject.updated | amCalendar:null:gs.pref.calFormats}}</div>
	  	</div>
    </div>
</div>

<script>
</script>
