<div id="taskbar" class="sidebar-content" ng-controller="ProjectDetailsController" ng-cloak>
    <div class="sidebar-header">
        <div class="header-title">
           <span style="font-weight: 300 !important">{{gs.currWorkspace.Terminology.projectAlias}} details</span>
        </div>
        
        <div class="header-description v-a-middle">
            <a href="" style="color: #fff" ng-click="cancelEdit()">
            	Close
            </a>
            <a href="" class="pull-right" style="color: #fff" ng-click="editProject()">
            	Edit
            </a>
        </div>
    </div>
    
    <div class="sidebar-body" resize height-offset="125" style="width: 100%">	    
        <div>
	        <div>
		        <div class="widget-container profile">
		            <div class="widget">
		                <div class="row p-15">
			                
		                    <div class="col w-150 h-150 align-center">
		                        <div easypiechart options="options" percent="selectedProject.perComp" style="text-align: center">
			                    	<span class="text-default f-45" 
			                    		style="position: absolute; line-height: 150px; text-align: center; width: 150px">{{selectedProject.perComp | number:0 }}%</span>
		                    	</div>
		                    </div>
		                    <div class="col p-5 p-l-20">
			                    
		                        <div class="f-25 v-a-middle" style="max-width: 255px; overflow: hidden">
			                        {{selectedProject.title}}
		                        </div>
		                        <div class="f-13 m-t-5 b-400">
		                            <span>{{selectedProject.typeName | uppercase}}</span>
		                        </div>
		                        
		                        <div class="f-13 m-t-5">
		                            <span class="f-12 label label-done" ng-show="selectedProject.isDone">Completed</span>
		                        </div>
		                        
		                        <div class="f-13 m-t-5">
		                            <span>{{selectedProject.start | amCalendar:null:gs.pref.calShortFormats}}
		                             <span ng-show="selectedProject.end != null"> - </span> 
		                             {{selectedProject.end | amCalendar:null:gs.pref.calShortFormats}}</span>
		                        </div>
		                         
		                        <!-- <div class="f-13 m-t-5">
		                            <span ng-click="openPersonDetails(selectedProject.ownerId)">{{selectedProject.ownerName}}</span>
		                        </div> -->
		                        <div class="m-t-5"><ctag ng-repeat="tag in selectedProject.tags"></ctag></div>
		                    </div>
		                </div>
		                
		            </div>
		        </div>
	        </div>
	        
		    <md-tabs class="m-t-10" md-dynamic-height md-border-bottom>
		      
		    <md-tab label="{{gs.currWorkspace.Terminology.taskAliasPlural}}">
		        <md-content class="p-0">
		        	<div class="p-10 p-l-15 p-r-15 v-a-middle">
			        	<a href="" id="new-message" class="text-default" ng-Click="openTaskDetails()">
							<i class="icon f-20 pe-7s-plus"></i>
			            </a>
			            
			            <a class="pull-right p-l-10 text-default" ui-sref="projects.taskboard({id: selectedProject.$id})" ng-click="cancelEdit()">
			            	<i class="pe-7s-keypad f-20"></i>
			            </a>
		        	</div>
		        					
					<md-content>
						<md-divider></md-divider>
			            <section ng-repeat="taskGroup in taskGrouping">
				        	<md-subheader class="md-primary">{{taskGroup.label}}</md-subheader>
				        	<md-divider></md-divider>
				            <md-list flex>
							  	<md-list-item class="md-3-line md-long-text" ng-repeat="task in tasks | filter:getFilter(taskGroup) | orderBy:'due'" ng-click="openTaskDetails(task)">
									<md-checkbox aria-label="Done" md-no-ink ng-model="task.isDone" ng-change="updateIsDone(task)"></md-checkbox>
									<div class="md-list-item-text  p-l-10">
										<div class="list-title-highlight" ng-show="task.delegateId != null">Delegate: {{task.delegateName}}</div>
									  <div class="list-title f-15" ng-class="{'task-done' : task.archived }">{{task.title}}</div>
									  <div ng-class="{'list-title-2' : true, 'text-danger' : task.state == 'Overdue'}">{{ task.due | amCalendar:null:gs.pref.calFormats}}</div>
									  
										  <div class="list-title-3" ng-hide="task.relatedName==null" >
											<span class="b-400">Regarding:</span> {{task.relatedName}}
										</div>
									</div>
									<div class="md-secondary p-10">
										   <span class="f-9" ng-class="{'badge' : true, 'badge-danger' : task.priority === 'H', 'badge-warning' : task.priority === 'M', 'badge-success' : task.priority === 'L', 'task-normal' : task.priority === 'N'}">{{task.priority}}</span>
									</div>		    
									<md-divider></md-divider>
							  </md-list-item>
				              
							</md-list>
						</section>
				    </md-content>
					
		        </md-content>
			</md-tab>
			
			<md-tab label="{{gs.currWorkspace.Terminology.memoAliasPlural}}">
		        <md-content>
					<md-list flex>
						<md-list-item class="md-3-line md-long-text" ng-repeat="act in entries | filter: {$:selectedProject.$id} | orderBy:'updated':true" 
							ng-click="openEntryDetails(act)">
							
							<div class="activity-document-icon">
								<i class="pe-fw"
									ng-class="{'pe-7s-light' : act.type == 'Idea', 'pe-7s-call' : act.type == 'Phone call', 
									'pe-7s-chat' : act.type == 'Meeting', 'pe-7s-note2' : act.type == 'Memo',
									'pe-7s-copy-file' : act.type == 'Document', 'pe-7s-photo' : act.type == 'Image',
									'pe-7s-coffee' : act.type == 'Food', 'pe-7s-car' : act.type == 'While you were out',
									'pe-7s-date' : act.type == 'Event', 'pe-7s-news-paper' : act.type == 'Recipe',
									'pe-7s-culture' : act.type == 'Restaurant', 'pe-7s-gym' : act.type == 'Workout',
									'pe-7s-map' : act.type == 'Location', 'pe-7s-ball' : act.type == 'Sports',
									'pe-7s-cart' : act.type == 'Shopping', 'pe-7s-film' : act.type == 'Media',
									'pe-7s-note' : act.type == 'Minutes', 'pe-7s-joy' : act.type == 'Games',
									'pe-7s-like' : act.type == 'Health', 'pe-7s-piggy' : act.type == 'Money'}">
								</i>
							</div>
							<div class="md-list-item-text p-l-10 p-r-8">
								<div class="f-8 pull-right label label-primary m-r-5 m-l-5" ng-show="showUnreadFlag(act)">UNREAD</div>
								<div class="list-title f-15">{{act.title}}</div>
								<div class="list-title-2 m-t-0 f-12">{{act.updated | amCalendar:null:gs.pref.calFormats}}</div>

								<div class="list-title f-11" ng-hide="(act.people == null || act.people.length == 0)">
									<span class="m-r-5" ng-repeat="person in act.people">
										{{person.name}}<span ng-if="!$last">, </span>
										<!--avatar size="xs" img="person.avatar" name="person.name" type="person.avatarType"></avatar-->
									</span>
								</div>

								<div class="journalEntry-img-cont" style="width: 126px" ng-repeat="pic in act.attachments | filter:'image/' | limitTo:1">
									<a href="{{pic.url}}" target="_blank">
									<img ng-src="{{pic.url}}" src="assets/img/placeholder.jpg" alt="{{pic.title}}"
										class="journalEntry-img">
										<md-tooltip>{{pic.title}}</md-tooltip>
									</img>
									</a>
								</div>
							</div>
							<md-divider ng-if="!$last"></md-divider>
							
						</md-list-item>
					  </md-list>	
				  </md-content>
			</md-tab>
		    
		    <md-tab label="{{gs.currWorkspace.Terminology.clientAliasPlural}}">
		        <md-content class="p-0">
		        	<md-list flex>
					  <md-list-item class="md-3-line" ng-repeat="person in selectedProject.people"  ng-click="openPersonDetails(person.id)">
					    <avatar size="md" img="person.avatar" state="person.state" name="person.name" type="person.avatarType"></avatar>
					    <div class="md-list-item-text p-l-10">
					      <div class="list-title">{{person.name}}</div>
					      <div class="list-title-3">{{person.title}}</div>
					      <div class="list-title-2"><a href="mailto:{{person.primaryEmail}}">{{person.primaryEmail}}</a></div>
					    </div>	    
					    <md-divider ></md-divider>
					  </md-list-item>
		              
					</md-list>
		        </md-content>
		    </md-tab>
		      
			<md-tab label="Activity">
		        <md-content style="height: 100%">
		        	<section ng-repeat="group in activityGrouping">
			        	<md-subheader class="md-primary subheader-top">{{group}}</md-subheader>
			        	<md-divider></md-divider>
		
				        <div class="p-10 p-l-15 p-r-15">
				            <ul class="timeline timeline-condensed">
				                <li ng-repeat="act in activity | filter: {groupingLabel: group, projectId: selectedProject.$id} | orderBy:'updated':true"
				                	data-ng-include="'views/partials/timelineEntry.html'">
				                </li>
				            </ul>
				        </div>
		        	</section>
		        </md-content>
		        
		    </md-tab>
		      
		    </md-tabs>
        </div>
        
    </div>
</div>

<script>
</script>
