<div id="taskbar" class="sidebar-content" ng-controller="ReminderEditController" ng-cloak>
    <div class="sidebar-header">
        <div class="header-title">
           <span>Reminder Details</span>
        </div>
        
        <div class="header-description v-a-middle">
            <a href="" style="color: #fff" ng-click="cancelEdit()">
            	Cancel
            </a>
            <a href="" class="pull-right" style="color: #fff" ng-click="saveEntry(entryForm.$valid)">
            	Save
            </a>
        </div>
    </div>
    
    <div class="sidebar-body" resize height-offset="125" style="width: 100%">	    
        <div class="p-10" style="background-color: #f1f3f2">
	        <form name="entryForm">
		        <div class="panel panel-default">
		            <div class="panel-body">
		            	<md-input-container class="md-block p-b-0">
				            <label>Title</label>
				            <textarea id="entryTitle" name="entryTitle" class="primary-input" ng-model="selectedEntry.title" 
				            	rows="3" md-maxlength="140" md-detect-hidden="true" autofocus required></textarea>
				            	
				            <div ng-messages="entryForm.entryTitle.$error" role="alert" 
								ng-if="showHints" multiple>
				            	<div ng-message="required" class="my-message">You must supply a title.</div>
								<div ng-message="md-maxlength" class="my-message">
									Please do not exceed 140 characters.
				            	</div>
				            </div>
				        </md-input-container>
				        
				        <md-switch class="md-primary f-15 m-b-40" md-no-ink="false" ng-model="selectedEntry.allday"
				        	ng-change="handleAllDayChanged()">
				          All day
				        </md-switch>

						<md-input-container class="md-block p-b-0" flex="100" ng-hide="selectedEntry.allday">
							<label>Start</label>
							<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown" href="">
								<input id="startdatetime" type="text" ng-model="selectedEntry.start" ng-disabled="false"
									class="md-input " datetime="EEE, MMMM d, yyyy, h:mma" ng-change="handleStartChanged()"></input>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="selectedEntry.start" ng-change="refreshCalendar()"
												data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', minuteStep: 5 }"></datetimepicker>
							</ul>
						</md-input-container>

						<md-input-container class="md-block p-b-0" flex="100" ng-show="selectedEntry.allday">
							<label>Start</label>
							<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown" href="">
								<input id="startdatetime" type="text" ng-model="selectedEntry.start" ng-disabled="false"
									class="md-input " datetime="EEE, MMMM d, yyyy" ng-change="handleStartChanged()"></input>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="selectedEntry.start" ng-change="refreshCalendar()"
												data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', minView: 'day' }"></datetimepicker>
							</ul>
						</md-input-container>

						<md-input-container class="md-block p-b-0" flex="100" ng-hide="selectedEntry.allday">
							<label>End</label>
							<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown" href="">
								<input id="enddatetime" type="text" ng-model="selectedEntry.end" ng-disabled="false"
									class="md-input " datetime="EEE, MMMM d, yyyy, h:mma" ng-change="handleEndChanged()"></input>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="selectedEntry.end" ng-change="refreshCalendar()"
												data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', minuteStep: 5 }"></datetimepicker>
							</ul>
						</md-input-container>

						<md-input-container class="md-block p-b-0" flex="100" ng-show="selectedEntry.allday">
							<label>End</label>
							<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown" href="">
								<input id="enddatetime" type="text" ng-model="selectedEntry.end" ng-disabled="false"
									class="md-input " datetime="EEE, MMMM d, yyyy" ng-change="handleEndChanged()"></input>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
								<datetimepicker data-ng-model="selectedEntry.end" ng-change="refreshCalendar()"
												data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', minView: 'day' }"></datetimepicker>
							</ul>
						</md-input-container>
					  	
					  	<md-switch class="md-primary f-15 m-b-15" md-no-ink="false" ng-model="selectedEntry.repeat" ng-change="refreshCalendar()">
				          Repeat reminder
				        </md-switch>
				        
				        <div layout="row">
							<md-input-container class="md-block">
								<label>Every</label>
						  		<md-select ng-model="selectedEntry.everyCount" ng-change="refreshCalendar()" ng-disabled="!selectedEntry.repeat">
					              <md-option ng-repeat="everyCnt in everyCount " ng-value="everyCnt" >
					                {{everyCnt}}
					              </md-option>
					            </md-select>
							</md-input-container>
							  
						  	<md-input-container class="md-block">
								<md-select ng-model="selectedEntry.everyInterval" aria-label="Every interval" ng-change="refreshCalendar()"
								  	ng-disabled="!selectedEntry.repeat">
					              <md-option ng-repeat="eInt in ['days', 'weeks', 'months'] " ng-value="eInt" >
					                {{eInt}}
					              </md-option>
					            </md-select>
							</md-input-container>

							<md-input-container class="md-block m-l-20" flex="100">
								<label>Until</label>
								<a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target=".dropdown" href="">
									<input id="untildatetime" type="text" ng-model="selectedEntry.until" ng-disabled="!selectedEntry.repeat"
										class="md-input " datetime="EEE, MMM d, yyyy" ng-change="refreshCalendar()"></input>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="left: -145px">
									<datetimepicker data-ng-model="selectedEntry.until"  ng-change="refreshCalendar()"
													data-datetimepicker-config="{ dropdownSelector: '.dropdown-toggle', minView: 'day' }"></datetimepicker>
								</ul>
							</md-input-container>
						</div>
						<div id="full-calendar-edit"></div>  
		            </div>
		        </div>
				
				<div class="panel panel-notes">
					<div class="panel-heading">
		                <h3 class="panel-title">Notes</h3>
		                <div class="panel-tools">
		                    <panel-collapse></panel-collapse>
		                </div>
		            </div>
		            <div class="panel-body p-0">
			            <summernote airMode class="f-14" ng-model="selectedEntry.notes"></summernote>
		            </div>
			  	</div>
			  
			  	<div class="text-muted f-10 m-t-15" ng-show="isEdit">
				  	<div class="align-center">Created by {{selectedEntry.createdName}} on {{selectedEntry.created | amCalendar:null:gs.pref.calFormats}}</div>
				  	<div class="align-center">Last update by {{selectedEntry.updatedName}} on {{selectedEntry.updated | amCalendar:null:gs.pref.calFormats}}</div>
			  	</div>
			  
			  
			  	<div class="m-t-15" ng-show="isEdit">
				  	<a href="" ng-Click="deleteEntry()" class="btn btn-danger btn-block f-17">
					  Delete Reminder
				  	</a>
			  	</div>
		    </form>
        </div>
    </div>
</div>

<script>

</script>
