

<div class="settingsbar sidebar-content" id="settingsbar" ng-controller="SettingsController">
    <div class="sidebar-header" style="height: auto">
        <div class="header-title">
            <span>Preferences</span>
        </div>
        <div class="header-close">
            <i class="pe-7s-angle-right-circle" ng-click="nav.hideSideViewForm()"></i>
        </div>
	</div>
	
	<div id="BAR" class="sidebar-body" resize height-offset="75" style="width: 100%">
	    <md-content class="settings" style="height: 100%; background-color: #f1f3f2">
		    <md-tabs md-dynamic-height="true" md-selected="selectedTabIndex">
		      <md-tab id="tabProfile">
		        <md-tab-label>Profile</md-tab-label>
		        <md-tab-body>
		        	<div class="p-10" style="background-color: #f1f3f2">
				        <form name="profileForm">
					        <div class="panel panel-default">
					            <div class="panel-body">
						            
						            <div class="row p-10 align-center">
					                    <div class="col">
						                    <div class="align-center m-b-10">
						                        <avatar size="lg" img="currPerson.avatar" state="'Established'" 
						                        		name="currPerson.name" type="currPerson.avatarType"></avatar>
						                    </div>
					                    
											<div>
												<h4>{{currPerson.name}}</h4>
											</div>
									        
					                        <div class="f-12 b-300 text-muted m-t-5">
					                            <span>{{ currPerson.status | uppercase }}</span>
					                        </div>
					                        
					                        <div class="b-400 m-t-20">
												<a href="" class="m-r-5" ng-click="nav.editPeopleDetails(currPerson.$id)">EDIT PROFILE</a>|
												<a href="" class="m-r-5" ng-click="resetPassword()">RESET PASSWORD</a>|
						                        <a href="" class="m-l-5" ng-click="signOut()">SIGN OUT</a>
						                    </div>
					                    </div>
					                </div>
					            </div>
							</div>

							<div class="panel panel-tags collapsed m-t-0" ng-show="currPerson.isAdmin">
								<div class="panel-heading">
									<!-- <i class="pe-7s-lock text-default f-14"></i> -->
									<h3 class="panel-title">My Terminology</h3>
									<div class="panel-tools">
										<panel-collapse></panel-collapse>
									</div>
								</div>

								<div class="panel-body" style="display: none;">
									<span class="f-13" style="text-transform: uppercase">What word do you use to represent Clients?</span>
									<md-content layout-gt-sm="row" class="m-t-10">
										<div flex="100" class="m-r-10">
											<md-input-container style="width: 100%">
												<input ng-model="editableWrkSpc.Terminology.clientAlias" placeholder="Client" ng-blur="updateTerms()">
											</md-input-container>
										</div>
										<div flex="100">
											<md-input-container style="width: 100%">
												<input ng-model="editableWrkSpc.Terminology.clientAliasPlural" placeholder="Client plural form" ng-blur="updateTerms()">
											</md-input-container>
										</div>
									</md-content>
	
									<span class="f-13" style="text-transform: uppercase">What word do you use to represent Projects?</span>
									<md-content layout-gt-sm="row" class="m-t-10">
										<div flex="100" class="m-r-10">
											<md-input-container style="width: 100%">
												<label>Project</label>
												<input ng-model="editableWrkSpc.Terminology.projectAlias" ng-blur="updateTerms()">
											</md-input-container>
										</div>
										<div flex="100">
											<md-input-container style="width: 100%">
												<label>Project plural form</label>
												<input ng-model="editableWrkSpc.Terminology.projectAliasPlural" ng-blur="updateTerms()">
											</md-input-container>
										</div>
									</md-content>
									
									<span class="f-13" style="text-transform: uppercase">What word do you use to represent Tasks?</span>
									<md-content layout-gt-sm="row" class="m-t-10">
										<div flex="100" class="m-r-10">
											<md-input-container style="width: 100%">
												<label>Task</label>
												<input ng-model="editableWrkSpc.Terminology.taskAlias" ng-blur="updateTerms()">
											</md-input-container>
										</div>
										<div flex="100">
											<md-input-container style="width: 100%">
												<label>Task plural form</label>
												<input ng-model="editableWrkSpc.Terminology.taskAliasPlural" ng-blur="updateTerms()">
											</md-input-container>
										</div>
									</md-content>
									
									<span class="f-13" style="text-transform: uppercase">What word do you use to represent Notes?</span>
									<md-content layout-gt-sm="row" class="m-t-10">
										<div flex="100" class="m-r-10">
											<md-input-container style="width: 100%">
												<label>Note</label>
												<input ng-model="editableWrkSpc.Terminology.memoAlias" ng-blur="updateTerms()">
											</md-input-container>
										</div>
										<div flex="100">
											<md-input-container style="width: 100%">
												<label>Note plural form</label>
												<input ng-model="editableWrkSpc.Terminology.memoAliasPlural" ng-blur="updateTerms()">
											</md-input-container>
										</div>
									</md-content>
								</div>
							</div>

							<div class="panel panel-default" ng-show="currPerson.isAdmin">
								<div class="panel-body">

									<label>{{gs.currWorkspace.Terminology.taskAlias}} preferences</label>

									<div class="f-14 b-400 m-t-15">Due soon</div>
									<md-slider-container class="m-b-25">
										<md-input-container>
											<input flex type="number" ng-model="currPreferences.Settings.Task.soon" aria-label="due soon" 
												ng-change="updateUserPreferences()" aria-controls="red-slider"
												style="width: 60px">
										</md-input-container>
										
										<span class="m-r-10">days</span>
										<md-slider flex min="0" max="60" ng-model="currPreferences.Settings.Task.soon" aria-label="due soon" id="red-slider"
											class="md-primary" ng-mouseup="updateUserPreferences()"></md-slider>
										</md-slider>
									</md-slider-container>

									<div>
										<md-switch ng-model="currPreferences.Settings.Task.delegation" aria-label="Enable delegation" 
											class="f-14 b-400" ng-change="updateUserPreferences()" >
											Enable {{gs.currWorkspace.Terminology.taskAlias}} delegation
										</md-switch>
									</div>
								</div>
							</div>

							<div class="panel panel-default"  ng-show="currPerson.isAdmin">
								<div class="panel-body">
									<label>{{gs.currWorkspace.Terminology.taskAlias}} status</label>

									<div class="m-b-10 m-t-10"   style="min-height: 150px">
										<div class="p-5 m-b-10" layout="row">
											<input ng-model="newTaskStatus" class="checklist-item m-r-10" 
													placeholder="Enter status" type="text" flex="100"
													ng-keydown="$event.keyCode === 13 && addTaskStatus()">
											
											<label class="btn btn-inverse" ng-click="addTaskStatus()">
												Add status
											</label>
										</div>	
										
										<div ui-sortable="sortableOptions" ng-model="taskStatusList" class="connectTaskStateList sortable-list">
											<div ng-repeat="taskState in taskStatusList" class="p-5 ui-sortable" layout="row"
												ng-class="{'not-sortable': !taskState.editable, 'last-sortable': $last}" style="background-color: #fff">
												<i class="pe-7f-menu m-r-10 f-17 text-muted p-t-10" style="color: #ccc; cursor:move" ng-hide="$last"></i>
												<i class="m-r-10 f-20 p-t-10" ng-show="$last" style="width: 20px">&nbsp;</i>
												<input id="taskStateItem_{{$index}}" ng-model="taskState.label" class="checklist-item" 
													ng-class="{'not-sortable': !taskState.editable}" style="font-weight: 400 !important"
													type="text" flex="100" ng-disabled="!taskState.editable" ng-blur="updateTaskState(taskState)">
												<i class="icon pe-7s-less text-muted f-20 p-5 p-t-10" ng-hide="taskState.editable"></i>

												<i class="icon pe-7s-close-circle text-danger f-20 p-5 p-t-10" ng-show="taskState.editable"
														ng-click="removeTaskState(taskState)" aria-label="Delete"></i>
											</div>
										</div>	
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-body">

									<label>Default {{gs.currWorkspace.Terminology.projectAlias}}</label>

									<md-input-container class="md-block" >
										<md-select ng-model="currPreferences.Settings.Project.defaultProject" ng-change="updateUserPreferences()"
											aria-label="Default {{gs.currWorkspace.Terminology.projectAlias}}">
											<md-option ng-repeat="proj in projects | orderBy: 'title' " ng-value="proj.$id" >
											{{proj.title}}
											</md-option>
									  </md-select>
								  </md-input-container>
								</div>
							</div>

							<div class="panel panel-default"  ng-show="currPerson.isAdmin"> 
									<div class="panel-body">
										<label>{{gs.currWorkspace.Terminology.projectAlias}} types</label>
	
										<div class="m-b-10 m-t-10"   style="min-height: 150px">
											<div class="p-5 m-b-10" layout="row">
												<input ng-model="newProjectType" class="checklist-item m-r-10" 
														placeholder="Enter type" type="text" flex="100"
														ng-keydown="$event.keyCode === 13 && addProjectType()">
												
												<label class="btn btn-inverse" ng-click="addProjectType()">
													Add type
												</label>
											</div>	
											
											<div>
												<div ng-repeat="projectType in projectTypeList" class="p-5" layout="row" style="background-color: #fff">
													<input id="projectType_{{$index}}" ng-model="projectType.title" class="checklist-item" 
														style="font-weight: 400 !important" type="text" flex="100" 
														ng-disabled="projectType.title == 'General'" ng-blur="updateProjectType(projectType)">
													
													<i class="icon pe-7s-less text-muted f-20 p-5 p-t-10" ng-hide="projectType.title != 'General'"></i>
													<i class="icon pe-7s-close-circle text-danger f-20 p-5 p-t-10" ng-show="projectType.title != 'General'"
															ng-click="removeProjectType(projectType)" aria-label="Delete"></i>
												</div>
											</div>	
										</div>
									</div>
								</div>
							
				        </form>
		        	</div>
		        
		        </md-tab-body>
		      </md-tab>
			  
			  <md-tab id="tabTeams">
		        <md-tab-label>My Team</md-tab-label>
		        <md-tab-body>
					<div class="p-0">
						<div data-ng-include="'partials/settings_team.html'"></div>
					</div>
		        </md-tab-body>
			  </md-tab>

			  <md-tab id="tabFAQs">
		        <md-tab-label>Support</md-tab-label>
		        <md-tab-body>
					<!--div data-ng-include="'partials/settings_faq.html'"></div-->
					<div class="align-center p-10">
							<div class="p-b-15 p-t-10">
								<input type="text" class="form-control" placeholder="Search" ng-model="faqSearch">
							</div>
						
							<div class="panel panel-default" ng-show="faqSearch != null && faqSearch != ''"  style="text-align: left">
									<div class="panel-body f-15">
										<div class="m-t-5">SEARCH RESULTS</div>
										<md-divider></md-divider>
										<ul>
											<li class="m-t-10 b-300" ng-click="openFAQ(faq)"
												ng-repeat="faq in faqs | filter:{$: faqSearch} | orderBy:'order'">
												{{faq.title}}</li>
										</ul>
									</div>
							</div>
						
							<div class="panel panel-default" ng-hide="faqSearch != null && faqSearch != ''">
								<div class="panel-body f-15 p-0">
									<div class="m-b-0"><image src="https://firebasestorage.googleapis.com/v0/b/temporal-potion-575.appspot.com/o/Content%2Fsupport.jpg?alt=media&token=779e2949-1ded-4825-a354-5cdc3d0ff3b0" flex="100"></image></div>
						
									<a class="b-500" href="/landing" target="_blank">LEARN ABOUT CASCADES</a>
									
									<div class="p-25" style="text-align: left">
										<div class="m-t-20">USING CASCADES</div>
										<md-divider></md-divider>
										<ul>
											<li class="m-t-10 b-300" 
												ng-repeat="faq in faqs | filter:{category: 'USING'} | orderBy:'order'">
												<span ng-show="showCascadesAdmin" ng-click="editFAQ(faq)" class="m-r-10 f-12 b-400">Edit</span>
												<span ng-click="openFAQ(faq)">{{faq.title}}</span></li>
										</ul>
						
										<div class="m-t-25">TIPS & TRICKS</div>
										<md-divider></md-divider>
										<ul>
											<li class="m-t-10 b-300" 
												ng-repeat="faq in faqs | filter:{category: 'TIPS'} | orderBy:'order'">
												<span ng-show="showCascadesAdmin" ng-click="editFAQ(faq)" class="m-r-10 f-12 b-400">Edit</span>
												<span ng-click="openFAQ(faq)">{{faq.title}}</span></li>
										</ul>
						
										<div class="m-t-25">FREQUENTLY ASKED QUESTIONS</div>
										<md-divider></md-divider>
										<ul>
											<li class="m-t-10 b-300"
												ng-repeat="faq in faqs | filter:{category: 'FAQ'} | orderBy:'order'">
												<span ng-show="showCascadesAdmin" ng-click="editFAQ(faq)" class="m-r-10 f-12 b-400">Edit</span>
												<span ng-click="openFAQ(faq)">{{faq.title}}</span></li>
										</ul>
									</div>
									<md-divider class="m-t-25"></md-divider>
									<div class="m-t-15">
										Did not find what you were looking for?
									</div>
									<div class="m-20 p-10">
										<a href="mailto:info@cascades-pi.com?subject=CASCADES Feedback" 
											target="_blank" class="btn-primary btn-large">Contact us</a>
									</div>
						
								</div>
							</div>
						
							<div class="panel panel-tags collapsed m-t-0" ng-show="showCascadesAdmin" style="text-align: left">
								<div class="panel-heading">
									<h3 class="panel-title">Edit Support</h3>
									<div class="panel-tools">
										<panel-collapse></panel-collapse>
									</div>
								</div>
						
								<div class="panel-body f-15" style="display: none;">
									<div layout="row" class="m-b-15"><input ng-model="faqTitle" class="checklist-item" placeholder="Title" type="text" flex="100"></div>
									<div layout="row" class="m-b-15"><input ng-model="faqTagline" class="checklist-item" placeholder="Tag line" type="text" flex="100"></div>
									<div layout="row" class="m-b-15">
										<input ng-model="faqImg" class="checklist-item m-r-10" placeholder="Image" type="text" flex="100">
										<input ng-model="faqOrder" class="checklist-item" placeholder="Order" type="text" flex="20">
									</div>
									<div layout="row" class="m-b-15">
										<md-switch ng-model="faqFeature" aria-label="Featured" class="">
											Featured item
										</md-switch>
									</div>

									<div class="m-b-0" layout="row"> 
										<md-input-container class="md-block">
											<md-radio-group ng-model="faqCategory" layout="row">
													<md-radio-button value="{{cat}}" class="md-primary" 
														ng-repeat="cat in ['FAQ', 'TIPS', 'USING']">{{cat}}</md-radio-button>
											</md-radio-group>
										</md-input-container>
									</div>

									<div layout="row" class="m-b-15"><input ng-model="faqTag" class="checklist-item" placeholder="Tags" type="text" flex="100"></div>
									
									<summernote ng-model="faqContent" config="options"></summernote>
									<label class="btn btn-inverse" ng-click="addSupportContent()">Add Support Content</label>
									<label class="btn btn-inverse" ng-click="clearAddSupportContent()">Clear</label>
										
								</div>
							</div>
						</div>


		        </md-tab-body>
			  </md-tab>
			  
			  <md-tab id="tabAdmin" ng-disabled="!showCascadesAdmin">
		        <md-tab-label>Articles</md-tab-label>
		        <md-tab-body>
					<div class="panel panel-default">
						<div class="panel-body">
							<label>Articles</label>

							<div class="m-b-10 m-t-10"   style="min-height: 150px">
								<div class="p-5 m-b-10" layout="row">
									<input ng-model="newArticleTitle" class="checklist-item m-r-10" 
										placeholder="Title" type="text" flex="100">

									<input ng-model="newArticle" class="checklist-item m-r-10" 
										placeholder="Article link" type="text" flex="100">
									
									<label class="btn btn-inverse" ng-click="addArticle()">
										Add
									</label>
								</div>	
								
								<div>
									<div ng-repeat="article in articles | orderBy:'created':true | limitTo: limitArticle" class="p-10" layout="row" style="background-color: #fff">
										<div class="f-15 b-300" flex="100" ng-click="showArticle(article, $event)">{{article.title}}</div>
										<i class="icon pe-7s-close-circle text-danger f-20"
												ng-click="removeArticle(article)" aria-label="Delete"></i>
									</div>

									<md-divider class="m-t-10"></md-divider>

									<label class="btn btn-inverse m-t-15" ng-show="limitArticle<articles.length" ng-click="showAllArticles()">
										Show all
									</label>
								</div>	
							</div>
						</div>
					</div>
		        </md-tab-body>
		      </md-tab>


			  <md-tab id="tabAbout">
		        <md-tab-label>About</md-tab-label>
		        <md-tab-body>
					<div class="align-center p-20">
						<div><image src="/assets/img/logo/Logo-128.png"></image></div>
						<div class="f-35 b-300">CASCADES</div>
						<div class="m-b-15">BETA</div>
						<div>Copyright &copy; 2017 CASCADES</div><br>
						<md-divider class="m-t-10"></md-divider>
						<div data-ng-include="'Terms.html'"></div>
					</div>

		        </md-tab-body>
		      </md-tab>
		    </md-tabs>
	    </md-content>
	</div>
	
	<div data-ng-include="'partials/settings_faqDetails.html'"></div>

</div>


<script>
	$( function() {
	  $( "#sortable" ).sortable({
		revert: true
	  });
	  $( "#draggable" ).draggable({
		connectToSortable: "#sortable",
		helper: "clone",
		revert: "invalid"
	  });
	  $( "ul, li" ).disableSelection();
	} );
</script>