

<div class="settingsbar sidebar-content" id="settingsbar" ng-controller="SettingsController">
    <div class="sidebar-header" style="height: auto">
        <div class="header-title">
            <span>Preferences</span>
        </div>
        <div class="header-close">
            <i class="pe-7s-angle-right-circle" ng-click="nav.hideSideViewForm()"></i>
        </div>
    </div>
    <div class="sidebar-body" resize height-offset="75" style="width: 100%">
	    <md-content class="settings" style="height: 100%">
		    <md-tabs md-dynamic-height="true">
		      <md-tab id="tabProfile">
		        <md-tab-label>Profile</md-tab-label>
		        <md-tab-body>
		        	<div class="p-10" style="background-color: #f1f3f2">
				        <form name="profileForm">
					        <div class="panel panel-default">
					            <div class="panel-body">
						            
						            <div class="row p-10 align-center">
					                    <div class="col">
						                    <div class="align-center m-b-10">
						                        <avatar size="lg" img="currPerson.avatar" state="'Established'" 
						                        		name="currPerson.name" type="currPerson.avatarType"></avatar>
						                    </div>
					                    
											<div>
												<h4>{{currPerson.name}}</h4>
											</div>
									        
					                        <div class="f-12 b-300 text-muted m-t-5">
					                            <span>{{ currPerson.status | uppercase }}</span>
					                        </div>
					                        
					                        <div class="b-400 m-t-20">
						                        <a href="" class="m-r-5" ng-click="openPersonDetails(currPerson.$id)">EDIT PROFILE</a>|
						                        <a href="" class="m-l-5" ng-click="signOut()">SIGN OUT</a>
						                    </div>
					                    </div>
					                </div>
					            </div>
							</div>
							
							<div class="panel panel-default">
					            <div class="panel-body">
									<md-switch class="md-primary f-15 m-b-15" md-no-ink="true" ng-model="currPerson.sendEmails" ng-change="updatePerson()">
										Send emails for notifications
									</md-switch>
									<md-switch class="md-primary f-15 m-b-15" md-no-ink="true" ng-model="currPerson.sendNotifications" ng-change="updatePerson()">
										Enable desktop notifications
									</md-switch>

									<a href="" class="btn btn-inverse btn-block f-15 m-t-25" ng-click="resetPassword()">
										Reset Password
									</a>
					            </div>
							</div>
				        </form>
		        	</div>
		        
		        	<div class="p-15 f-14">
<!--pre>
{{ gs.currProfile | json }}
</pre>
<pre>
{{ gs.currPreferences | json }}
</pre-->
		        	</div>
		        </md-tab-body>
		      </md-tab>
		      <md-tab id="tabWorkspace">
		        <md-tab-label>Workspace</md-tab-label>
		        <md-tab-body>
					<div data-ng-include="'partials/settings_workspace.html'"></div>
		        	<div class="p-15 f-14">
<!--pre>
{{ gs.userWorkspaces | json }}
</pre-->
		        	</div>

		        </md-tab-body>
			  </md-tab>
			  <md-tab id="tabShortCut">
					<md-tab-label>Shortcut Keys</md-tab-label>
					<md-tab-body>
							<div class="p-15 f-14">
<pre>
{{ gs.currProfile.Workspaces | json }}
</pre>
							</div>
					</md-tab-body>
				  </md-tab>
		      <md-tab id="tabTags">
		        <md-tab-label>Tags</md-tab-label>
		        <md-tab-body>
		        	<div data-ng-include="'partials/tagManager.html'" data-ng-controller="TagController"></div>

		        </md-tab-body>
		      </md-tab>
		      <md-tab id="tabTasks">
		        <md-tab-label>Tasks</md-tab-label>
		        <md-tab-body>
		        	<div class="p-15 f-14">
<pre>
{{ gs.currWorkspace.Settings.Task | json }}
</pre>
<pre>
{{ gs.currProfile.Workspaces | json }}
</pre>
		        	</div>

		        </md-tab-body>
		      </md-tab>
		      <md-tab id="tabPeople">
		        <md-tab-label>{{gs.currWorkspace.Terminology.projectAlias}}</md-tab-label>
		        <md-tab-body>
		        	<div class="p-10" style="background-color: #f1f3f2">
		        		<form name="projectForm">
					        <div class="panel panel-inverse">
						        <div class="panel-heading">
					                <h3 class="panel-title">{{gs.currWorkspace.Terminology.projectAlias}} Types</h3>
					            </div>
						        
					            <div class="panel-body">
<pre>
{{ gs.currWorkspace.Settings.Project.types | json }}
</pre>					            
					            </div>
					        </div>
				        </form>
		        	</div>
		        </md-tab-body>
		      </md-tab>
		      <md-tab id="tabPeople">
		        <md-tab-label>People</md-tab-label>
		        <md-tab-body>
		        	People

		        </md-tab-body>
			  </md-tab>
			  <md-tab id="tabAbout">
		        <md-tab-label>About</md-tab-label>
		        <md-tab-body>
					<div class="align-center p-10">
						<div><image src="/assets/img/Timeline-128.png"></image></div>
						<div class="f-35 b-300">CASCADES</div>
						<div class="m-b-15">BETA</div>
						<pre class="h-m-200"></pre>
						<div>Copyright &copy; 2017 CASCADES</div>
					</div>

		        </md-tab-body>
		      </md-tab>
		    </md-tabs>
	    </md-content>
    </div>
</div>
