  <form ng-cloak>
    <md-dialog-content style="height: 100%">
        <div id="md-dialog-content" class="dialog-content" ng-controller="OrganizationController" ng-cloak>
		    <div class="dialog-header p-15 f-15" style="background-color: rgb(245,245,245)">
			    
		        <div class="header-description v-a-middle" ng-show="!showDetails">
		            <a href="" id="new-message" ng-Click="showDetails=!showDetails">
		                New Workspace
		            </a>    
		        </div>
		        
		        <div class="header-description v-a-middle" ng-show="showDetails">
		            <a href="" ng-click="cancelEdit()">
		            	Cancel
		            </a>
		            <a href="" class="pull-right" ng-click="saveTag()">
		            	Save
		            </a>
		        </div>
		    </div>
		    
		    <div class="dialog-body" style="width: 100%; height: 100%">
		        <md-content style="height: 100%; width: 100%" ng-show="!showDetails">
		            <md-list flex>
					  <md-list-item class="md-3-line" ng-repeat="wrkSpc in gs.userWorkspaces | orderBy:'name'" ng-click="openDetails(tag)">
						<div class="md-list-item-text">
							<div class="list-title">{{wrkSpc.name}}</div>
							<div class="list-title-2">Subscription: {{gs.currWorkspace.Subscription.plan}}</div>
							<div class="list-title-2">Next Renewal: {{gs.currWorkspace.Subscription.renewal | amCalendar:null:gs.pref.calMidFormats}}</div>
						</div>
					    <md-divider ></md-divider>
					    
					  </md-list-item>              
					</md-list>
			    </md-content>
			    
		        <div ng-show="showDetails" class="p-10" style="background-color: #f1f3f2">
					<form name="orgForm" class="">
						<div class="panel panel-default m-t-0">
							<div class="panel-body">
								<md-input-container class="md-block m-t-25 p-b-0">
									<label>Workspace Title</label>
									<textarea ng-model="editableOrg.name" rows="3" md-maxlength="40" md-detect-hidden="true" required>
									<div class="hint">E.g. Company/Organization name, Owner, Informal grouping, etc.</div>
									</textarea>
								</md-input-container>
								
								<md-input-container class="md-block p-b-0">
									<label>Workspace Description</label>
									<textarea ng-model="editableOrg.description" rows="3" md-maxlength="255" md-detect-hidden="true">
									</textarea>
								</md-input-container>
							</div>
						</div>
						
						<div class="panel panel-inverse m-t-0">
							<div class="panel-body">
								<span class="b-500 f-15">What term do you use to represent Clients?</span>
								<md-content layout-gt-sm="row" layout-padding>
									<div flex="100">
										<md-input-container style="width: 100%">
											<label>Client</label>
											<input ng-model="editableOrg.Terminology.clientAlias">
										</md-input-container>
									</div>
									<div flex="100">
										<md-input-container style="width: 100%">
											<label>Client plural form</label>
											<input ng-model="editableOrg.Terminology.clientAliasPlural">
										</md-input-container>
									</div>
								</md-content>

								<span class="b-500 f-15">What term do you use to represent Projects?</span>
								<md-content layout-gt-sm="row" layout-padding>
									<div flex="100">
										<md-input-container style="width: 100%">
											<label>Project</label>
											<input ng-model="editableOrg.Terminology.projectAlias">
										</md-input-container>
									</div>
									<div flex="100">
										<md-input-container style="width: 100%">
											<label>Project plural form</label>
											<input ng-model="editableOrg.Terminology.projectAliasPlural">
										</md-input-container>
									</div>
								</md-content>
								
								<span class="b-500 f-15">What term do you use to represent Tasks?</span>
								<md-content layout-gt-sm="row" layout-padding>
									<div flex="100">
										<md-input-container style="width: 100%">
											<label>Task</label>
											<input ng-model="editableOrg.Terminology.taskAlias">
										</md-input-container>
									</div>
									<div flex="100">
										<md-input-container style="width: 100%">
											<label>Task plural form</label>
											<input ng-model="editableOrg.Terminology.taskAliasPlural">
										</md-input-container>
									</div>
								</md-content>
								
								<span class="b-500 f-15">What term do you use to represent Notes?</span>
								<md-content layout-gt-sm="row" layout-padding>
									<div flex="100">
										<md-input-container style="width: 100%">
											<label>Note</label>
											<input ng-model="editableOrg.Terminology.memoAlias">
										</md-input-container>
									</div>
									<div flex="100">
										<md-input-container style="width: 100%">
											<label>Note plural form</label>
											<input ng-model="editableOrg.Terminology.memoAliasPlural">
										</md-input-container>
									</div>
								</md-content>
							</div>
						</div>
					</form>
		        </div>
		    </div>
        </div>
      </div>
    </md-dialog-content>
  </form>
