<div id="taskbar" class="sidebar-content" ng-controller="TaskDetailsController" ng-cloak>
    <div class="sidebar-header">
        <div class="header-title">
           <span>{{gs.currWorkspace.Terminology.taskAlias}} Details</span>
        </div>
        
        <div class="header-description v-a-middle">
            <a href="" style="color: #fff" ng-click="cancelEdit()">
            	Cancel
            </a>
            
            <a href="" class="pull-right" style="color: #fff" ng-click="saveTask(taskForm.$valid)">
            	Save
            </a>
        </div>
    </div>
    
    <div class="sidebar-body" resize height-offset="125" style="width: 100%">	    
        <div class="p-10" style="background-color: #f1f3f2">
	        <form name="taskForm">
		        <div class="panel panel-default">
		            <div class="panel-body">
		                <md-input-container class="md-block p-b-0">
			            	<label>Title</label>
			            	<textarea name="title" id="taskTitle" class="primary-input" ng-model="selectedTask.title" 
			            		rows="3" md-maxlength="140" autofocus="true" required></textarea>
			            	
							<div ng-messages="taskForm.title.$error" role="alert" 
								ng-if="showHints" multiple>
				            	<div ng-message="required" class="my-message">You must supply a title.</div>
								<div ng-message="md-maxlength" class="my-message">
									Please do not exceed 140 characters.
				            	</div>
				            </div>
						</md-input-container>
			          
			          <md-input-container class="md-block">
						  <md-radio-group ng-model="selectedTask.priority" layout="row">
						      <md-radio-button value="{{priority.code}}" class="md-primary" 
						      	ng-class="{'text-danger' : priority.code === 'H', 'text-warning' : priority.code === 'M', 'text-success' : priority.code === 'L'}"
						      	ng-repeat="priority in priorities">{{priority.label}}</md-radio-button>
						  </md-radio-group>
					  </md-input-container>
					  
					  <div layout="row p-b-20">
						  <md-input-container class="md-block p-b-0" flex="100">
						  	<label>Due</label>
						  	<input mdc-datetime-picker date="true" time="true" type="text" id="duedatetime"
								ng-model="selectedTask.due" class="md-input" ok-text="Next" short-time="true"
								format="ddd, MMMM D, YYYY,  h:mma" today-text="Now" show-todays-date >
							
						  </md-input-container>
						  <i class="icon pe-7s-close text-muted f-25 p-5 m-t-15" ng-show="selectedTask.due != null"
									 ng-click="clearDueDate()" aria-label="Clear"></i>
					  </div>

					  <md-input-container class="md-block">
			            <label>Status</label>
			            <md-select ng-model="selectedTask.status" md-on-close="updateStatus(selectedTask)">
			              <md-option ng-repeat="taskState in taskStates" value="{{taskState.label}}" >
			                {{taskState.label}}
			              </md-option>
			            </md-select>
			          </md-input-container>
			          
			          <md-input-container class="md-block m-b-5 m-t-10 p-0 ">
			          	<div class="m-t-5 m-r-10 pull-right"  ng-show="selectedTask.hasChecklist">  
							<a href="" ng-click="addChecklistItem()">
								<i class="icon pe-7f-plus f-25" ></i>
							</a>
						</div>
			          
			            <md-switch class="md-primary f-15 m-0" md-no-ink="false" ng-model="selectedTask.hasChecklist">
				          Checklist
				        </md-switch>
			          </md-input-container>
			          
			          <div class="m-b-10 m-t-10" style="min-height: 150px" ng-show="selectedTask.hasChecklist">		            
			            <div ng-repeat="listItem in selectedTask.checklist" class="p-5" layout="row">
							<md-checkbox class="m-0 p-5" aria-label="Done" ng-model="listItem.isDone"></md-checkbox>
					    	<input id="checklistItem_{{$index}}" ng-model="listItem.title" class="checklist-item" 
					    			type="text" flex="100">
					    	<span ng-if="$last" postrender-action="checkIfNewCheckListItem($index)"></span>
							<i class="icon pe-7s-close text-muted f-25 p-5 p-t-10"
								 ng-click="removeChecklistItem(listItem)" aria-label="Delete"></i>
						</div>
						
		              </div>
		            </div>
		        </div>
		        
		        

		        
				<div class="panel panel-default">
		            <div class="panel-body">
			            <md-input-container class="md-block">
				        	<label>{{gs.currWorkspace.Terminology.projectAlias}}</label>
						  	<md-select ng-model="selectedTask.project" ng-model-options="{trackBy: '$value.$id'}">
						  		<md-option value="{{null}}">
							        None
							    </md-option>
					            <md-option ng-repeat="proj in projects | orderBy: 'title'" ng-value="proj" >
					                {{proj.title}}
					            </md-option>
					        </md-select>
						</md-input-container>
												
						<div layout="row p-b-20">					  
						  	<md-input-container class="md-block" flex="100">
				          		<label>Owner</label>
						  		<md-select ng-model="selectedTask.owner" ng-model-options="{trackBy: '$value.$id'}">
						  		  <md-option value="{{null}}">
							        Unassigned
							      </md-option>
					              <md-option ng-repeat="owner in owners | filter:{type:'Team member'} | orderBy: 'name' " ng-value="owner" >
					                {{owner.name}}
					              </md-option>
					            </md-select>
						  	</md-input-container>
						  	<div class="p-l-15 p-t-15">
							  	<avatar size="sm" img="selectedTask.owner.avatar" state="selectedTask.owner.state" 
							  		name="selectedTask.owner.name" type="selectedTask.owner.avatarType"></avatar> 
							</div>
						</div>
						  
						<div layout="row">
							<md-input-container class="md-block" flex="100">
					          	<label>Delegate</label>
							  	<md-select ng-model="selectedTask.delegate" ng-model-options="{trackBy: '$value.$id'}">
							  	  <md-option value="{{null}}">
							        Unassigned
							      </md-option>
					              <md-option ng-repeat="del in owners | orderBy: 'name'" ng-value="del" >
					                {{del.name}}
					              </md-option>
					            </md-select>
							</md-input-container>
							  
							<div class="p-l-15 p-t-15">  
								<avatar size="sm" img="selectedTask.delegate.avatar" state="selectedTask.delegate.state" name="selectedTask.delegate.name" type="selectedTask.delegate.avatarType"></avatar>
							</div>
						</div>
						 
		            </div>
				</div>

				<tageditor title="Tags" model="selectedTask" filter="{forTasks: true}"></tageditor>

				<div class="panel panel-notes collapsed">
					<div class="panel-heading">
		                <h3 class="panel-title">Notes</h3>
		                <div class="panel-tools">
		                    <panel-collapse></panel-collapse>
		                </div>
		            </div>
		            <div class="panel-body p-0" style="display: none;">
			            <summernote airMode class="f-14" ng-model="selectedTask.notes"></summernote>
		            </div>
			  	</div>
			  
			  	<div class="m-t-15" ng-show="isEdit">
				  	<a href="" ng-Click="deleteTask()" class="btn btn-danger btn-block f-17">
					  Delete {{gs.currWorkspace.Terminology.taskAlias}}
				  	</a>
			  	</div>
			  	
			  	<div class="text-muted f-10 m-t-15" ng-show="isEdit">
				  	<div class="align-center">Created by {{selectedTask.createdName}} on {{selectedTask.created | amCalendar:null:gs.pref.calFormats}}</div>
				  	<div class="align-center">Last update by {{selectedTask.updatedName}} on {{selectedTask.updated | amCalendar:null:gs.pref.calFormats}}</div>
				  	<div class="align-center" ng-hide="selectedTask.start == '' || selectedTask.start == null">Started {{selectedTask.start | amCalendar:null:gs.pref.calFormats}}</div>
			  	</div>
			  
			  
			  	<div class="f-12 m-t-15 align-center" ng-show="isEdit">
			  		<a href="" class="text-default" ng-click="openActivity()" ng-hide="activityLoaded">ACTIVITY TIMELINE</a>
			  	</div>
			  	
			  	<div class="panel panel-tags collapsed m-t-10" ng-show="activityLoaded">
				  	<div class="panel-heading">
		                <h3 class="panel-title">ACTIVITY TIMELINE</h3>
		            </div>
		            <div class="panel-body p-15" id="activityPanelDetails">
			            <ul class="timeline timeline-condensed">
	                        <li ng-repeat="act in activity | filter: {targetId: selectedTask.$id} | orderBy:'created':true"
	                        	data-ng-include="'views/partials/timelineEntry.html'">
	                        </li>
	                    </ul>
		            </div>
			  	</div>

		    </form>
        </div>
    </div>
</div>

<script>

</script>
