
<div class="col-sm-4">
	<div class="widget-container">
		<div class="widget" style="min-height: 250px;"> 
		    <div md-ink-ripple class="f-17 p-10 p-l-15 p-r-15 border-bottom-1 border-muted b-400 text-default align-center"
			     ng-click="openProjectDetails(act.targetId)">
		    	{{act.projectTitle}}
		    </div>
		    
		    <div class="p-15 align-center">
			    <div class="w-100 h-100 align-center" style="display: inline">
                    <div easypiechart options="cardOptions" percent="act.perComp" style="text-align: center">
                     	<span class="text-default f-25 ieDashPerComp" 
                     		style="position: absolute; line-height: 90px; text-align: center; width: 90px">
                     		{{act.perComp | number:0 }}%</span>
                    </div>
	            </div>
	            
	            <div class="m-t-10">
                    <div class="f-13 b-400">
                        <span>{{act.projectType | uppercase }}</span>
                    </div>
                    <div class="f-13 m-t-5">
                        <span ng-show="act.end != null">Due: {{ act.end | amCalendar:null:gs.pref.calShortFormats}}</span>
                    </div>
                    
                    <!--div class="f-13 b-300 text-primary m-t-5">
                        <span>{{act.ownerName}}</span>
                    </div-->
                    
                    <div class="b-400 m-t-15">
                        <a href="" class="m-r-5 text-default" ng-click="openProjectDetails(act.targetId)"><i class="pe-7s-edit f-17"></i></a>
                        <a ui-sref="mywork.taskboard({id: act.targetId})" class="m-l-5 text-default"><i class="pe-7s-keypad f-17"></i></a>
                    </div>
                </div>	
			    
		    </div>
		</div>
	</div>
</div>
 