
<div class="col-sm-4">
	<div class="widget-container">
        <div class="widget"
            ng-class="{'projectEntry-expanded' : expanded, 'projectEntry-collapsed' : !expanded,
            'agile-list-highlight' : project.hasHighlightTag }"> 
		    <div md-ink-ripple class="f-17 p-10 p-l-15 p-r-15 border-bottom-1 border-muted b-400 text-default align-center"
			     ng-click="openProjectDetails(project.$id)">
		    	{{project.title}}
		    </div>
		    
		    <div class="p-15 align-center" ng-show="expanded">
			    <div class="w-100 h-100 align-center" style="display: inline">
                    <div easypiechart options="cardOptions" percent="project.perComp" style="text-align: center">
                     	<span class="text-default f-25 ieDashPerComp" 
                     		style="position: absolute; line-height: 90px; text-align: center; width: 90px">
                     		{{project.perComp | number:0 }}%</span>
                    </div>
	            </div>
	            
	            <div class="m-t-10">
                    <div class="f-13 b-400">
                        <span>{{project.typeName | uppercase }}</span>
                    </div>
                    <div class="f-13 m-t-5">
                        <span ng-show="project.end == null">No due date</span>
                        <span ng-show="project.end != null">Due: {{project.end | amCalendar:null:gs.pref.calShortFormats}}</span>
                    </div>

                    <div class="m-t-10" style="min-height: 15px;"><ctag ng-repeat="tag in project.tags"></ctag></div>

                    <md-divider class="m-t-15 m-b-5"></md-divider>

                    <div class="p-10 b-300 align-center">
                        <div class="row">
                            <div class="col-xs-4 border-muted border-right-1">
                                <div class="b-400 f-15 ">{{ project.totalOpenTasks == null ? 0 : project.totalOpenTasks }}</div>
                                <div class="text-muted f-11 b-300">{{gs.currWorkspace.Terminology.taskAliasPlural}}</div>
                            </div>
                            <div class="col-xs-4 border-muted border-right-1">
                                <div class="b-400 f-15">{{ project.dueToday == null ? 0 : project.dueToday }}</div>
                                <div class="text-muted f-11 b-300">Due today</div>
                            </div>
                            <div class="col-xs-4">
                                <div class="b-400 f-15">{{ project.overdue == null ? 0 : project.overdue }}</div>
                                <div class="text-muted f-11 b-300">Overdue</div>
                            </div>
                        </div>

                    </div>

                </div>	
			    
		    </div>
		</div>
	</div>
</div>
 